<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}World Guide{% endblock %}</title>
    {% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" >World Guide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('landmarks', country_id=1) }}">Достопримечательности</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('hotels', country_id=1) }}">Отели</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('restaurants', country_id=1) }}">Рестораны</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('country_details', country_id=1) }}">Назад</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark text-white text-center py-3 mt-4">
        &copy; 2024 Мой сайт. Все права защищены.
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>

