<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Guide - Countries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
    

</head>
<body>
    <div class="header">
        <h1>World Guide</h1>
    </div>
    <div class="container">
        <div class="topnav">
            <button id="country_add_btn"
                    type="button"
                    class="btn btn-primary add-item"
                    data-bs-toggle="modal"
                    data-bs-target="#addCountryModal">
                Добавить страну
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                </svg>
            </button>
        </div>
        <h1>Cписок Стран</h1>
        <div class="white-box">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Просмотреть</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in countries %}
                    <tr>
                        <td>{{ country.id }}</td>
                        <td>{{ country.name }}</td>
                        <td><a href="{{ url_for('country_details', country_id=country.id) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg></a></td>
                        <td>
                            <button id='country_delete_btn'
                                    type="button"
                                    class="btn btn-danger"
                                    onclick="deleteCountry({{ country.id }})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="addCountryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="addBtn" onclick="addCountry()">Сохранить</button>
                </div>
                <div class="modal-body">
                    <form id="addCountryForm">
                        <div class="mb-3">
                            <label for="country_name_input" class="form-label">Название</label>
                            <input type="text" id="country_name_input" class="form-control" placeholder="Название страны">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
    <script>
        function addCountry() {
            const countryName = document.getElementById('countryName').value;
        
            if (!countryName) {
                alert('Введите название страны');
                return;
            }
        
            fetch('/add_country', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: countryName })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'OK') {
                    alert('Страна добавлена');
                    location.reload(); 
                } else {
                    alert('Ошибка: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Ошибка при добавлении страны:', error);
                alert('Произошла ошибка при добавлении страны.');
            });
        }
        
        function deleteCountry(countryId) {
            fetch(`/country_details/${countryId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'OK') {
                    console.log('Страна удалена');
                    window.location.href = '/'; 
                } else {
                    console.error('Ошибка при удалении страны');
                }
            });
        }
    </script>
{% endblock %}
</body>
</html>
